
{% extends "base.html" %}

{% block content %}

   <p> <h3>Create Post</h3> </p>
<body>

<div class="container">
<div class="form-group row">
    <div class="col-xs-4">
        <form method="POST" action="/create">
        <label for="ex4" class="sr-only"> Post </label>
        <input type="text" class="form-control" id="ex4" placeholder="What's new?" >
    </form>

 <form method="POST" action="/create" novalidate >
        <a href="{{ url_for('new_post')}}" class="btn btn-outline-secondary" style="margin-left: -125px;"> Send </a>

    </div>
</div>
</div>


<!--  <form method="POST" action="">-->
<!--        {{ form.hidden_tag() }}-->
<!--        <p>-->
<!--            {{ form.text.label }}<br>-->
<!--            {{ form.text() }}-->
<!--        </p>-->
<!--        <p>{{ form.send() }}</p>-->
<!--    </form>-->
</body>
{% endblock %}
