{% extends "base.html" %}

{% block content %}

<body>
    <h1>Send message to:</h1>

    <form action="" method="followers" novalidate>
 <p><select name="list1">
  <option>Choose user</option>

  <option> {{ username }} </option>

 </select></p>
</form>



    <form action="" method="message" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text() }}
        </p>
        <p>{{ form.send() }}</p>
    </form>


</body>

{% endblock %}
